<section id="intro" class="content-section">
  <div class="site-title animated fadeInLeft">
    <span class="name">Josh Riggs</span> UX / Design / Front End 
  </div>
  <div class="intro-text">
    <h1>Howdy.</h1>
    <p>I'm <strong>Josh Riggs</strong>, a UX &amp; visual designer at <a href="http://www.thinkshout.com">ThinkShout</a>, formerly at <a href="http://www.lullabot.com">Lullabot</a>. I specialize in responsive design for large&ndash;scale websites, and I like to <a href="https://speakerdeck.com/joshriggs/">give talks</a> on the subject. I'm also a <a href="http://www.flickr.com/joshriggs">photographer</a>, an adventurer, and a pretty darn good cook. I'm married to this <a href="https://twitter.com/AngelaRiggs_">lovely lady</a>, and currently hang my hat in Portland, Ore.</p>

    <ul class="social-links">
      <li><a href="http://www.behance.net/joshriggs" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-behance.png"></a></li>
      <li><a href="http://flickr.com/joshriggs" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-flickr.png"></a></li>
      <!-- <li><a href="http://www.dribbble.com/joshriggs" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-dribbble.png"></a></li> -->
      <li><a href="http://www.linkedin.com/in/joshriggs" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-linkedin.png"></a></li>
      <li><a href="http://www.twitter.com/joshriggs" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-twitter.png"></a></li>
      <li><a href="mailto:josh.riggs@gmail.com" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon-email.png"></a></li>
    </ul>
  </div>
</section>