<nav class="main-nav">
  <div class="logo">
    <img src="{{site.baseurl}}/assets/images/logo.svg">
  </div>
  <ul class="main-nav__links">
    <li><a href="#intro"><img src="{{site.baseurl}}/assets/images/beard.svg"></a></li>
    <li><a href="#recent-work"><img src="{{site.baseurl}}/assets/images/work.svg"></a></li>
    <li><a href="#recent-articles"><img src="{{site.baseurl}}/assets/images/articles.svg"></a></li>
    <li><a href="mailto:josh.riggs@gmail.com"><img src="{{site.baseurl}}/assets/images/plane.svg"></a></li>
  </ul>      
</nav> 