<section class="recent-work">
  <h1>Recent &amp; Favorite Work</h1>
  <ul class="portfolio-links">
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-splc.jpg"></li>
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-selma.jpg"></li>
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-cotrust.jpg"></li>
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-namm.jpg"></li>
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-grammy.jpg"></li>
    <li class="portfolio-links__item"><img src="{{site.baseurl}}/assets/images/thumb-sony.jpg"></li>
  </ul>
</section>